* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 2rem;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40vh 0rem;
}

.refresh-btn {
  font-size: 0.8rem;
}

.key {
  width: 5rem;
}
