* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #112139;
  height: 100vh;
  font-family: "poppins";
  font-size: 2rem;
}
.side-image-container {
  height: 100vh;
  width: 5%;
  position: absolute;
  left: -0.5rem;
  z-index: -1;
}
.side-image {
  height: 100%;
  border-radius: 0.5rem;
}

.app-container {
  height: inherit;
  margin: auto;
  width: 50%;
  /* background-color: teal; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.component-field {
  display: flex;
  justify-content: center;
}

.text-container {
  width: 100%;
  height: 12rem;
}

.text-display {
  width: 80%;
  height: 80%;
  margin: auto;
  border-radius: 1rem;
  padding: 0.5rem;
  outline: none;
  resize: none;
}

.button-container {
  width: 70%;
  margin: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.button {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
  border-style: none;
  border-radius: 50%;
  padding: 0.25rem;
}
.button:hover {
  background-color: #5d7dae;
  cursor: pointer;
}
.encrypt-btn {
  background-color: #ff7171;
  font-size: 0.8rem;
}
.decrypt-btn {
  background-color: #9def89;
  font-size: 0.8rem;
}
.compare-btn,
.refresh-btn {
  background-color: #f8d869;
  font-size: 0.8rem;
}

.key,
.fa-key {
  width: 10rem;
  height: 60%;
  border-style: none;
  border-radius: 0.5rem;
  padding: 0.25rem;
  outline: none;
}

.divider {
  width: 100%;
  height: 10rem;
}
.copyright {
  font-size: 0.5em;
  letter-spacing: 1rem;
  color: #ffffff40;
  text-decoration: none;
  text-align: center;
}
.copyright:hover {
  cursor: pointer;
}
.logo {
  width: 95%;
  margin: auto;
  font-size: 3.5rem;
  text-align: end;
  position: absolute;
  bottom: 1rem;
  z-index: -1;
  font-family: "satisfy";
  color: #fd6262;
}
